@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="hero">
    <!-- Slider (fuera del contenedor limitado) -->
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('images/img269.jpg')"></div>
        <div class="img overlay" style="background-image: url('images/img223.jpg')"></div>
        <div class="img overlay" style="background-image: url('images/img296.jpg')"></div>
        <div class="img overlay" style="background-image: url('images/img38.jpg')"></div>
        <div class="img overlay" style="background-image: url('images/img33.jpg')"></div>
    </div>

    <!-- Contenido (dentro del contenedor limitado) -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">Busca tu vivienda ideal</h1>
                <form action="/Results2" class="narrow-w form-search d-flex align-items-stretch mb-3 flex-wrap gap-2" data-aos="fade-up" data-aos-delay="200">
                    <select class="form-select px-3" name="tipo_operacion">  
                        <option value="tipo_operacion">Tipo de Operación</option>
                        <option value="alquiler">Alquiler</option>
                        <option value="alquiler_temporal">Alquiler Temporal</option>
                    </select>

					<select class="form-select px-3" name="categoria">
                        <option value="tipo_propiedad">Tipo de Propiedad</option>
						<option value="departamento">Departamento</option>
						<option value="casa">Casa</option>
						<option value="ph">PH</option>
						<option value="local">Local</option>
						<option value="terreno">Terreno</option>
						<option value="quinta">Quinta</option>
						<option value="cochera">Cochera</option>
						<option value="oficina">Oficina</option>
					</select>

                    <select class="form-select px-3" name="dormitorios">
                        <option value="">Dormitorios</option>
                        <option value="1">1 dormitorio</option>
                        <option value="2">2 dormitorios</option>
                        <option value="3">3 dormitorios</option>
                        <option value="4">4 dormitorios</option>
                        <option value="5">+5 dormitorios</option>
                    </select>

 

                    <input type="text" class="form-control px-4" name="ubicacion" placeholder="Ingresar provincia o ciudad" />

                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary heading">
                    Ùltimas Propiedades
                </h2>
            </div>
            <div class="col-lg-6 text-lg-end">
                <p>
                    <a asp-page="/Results2"
                       
                       class="btn btn-primary text-white py-3 px-4">Ver todas las propiedades</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="property-slider-wrap">
                    <div class="property-slider">

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop1.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1.100.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Calle Montevideo 450</span>
                                    <span class="city d-block mb-3">Godoy Cruz – Mendoza</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">1 baño</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop2.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1.500.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Avenida San Martín 1143 </span>
                                    <span class="city d-block mb-3">Tigre – Buenos Aires</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop3.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$400.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Avenida de Mayo 575 </span>
                                    <span class="city d-block mb-3">CABA – San isidro</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop4.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$600.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Avenida Rivadavia 1902 </span>
                                    <span class="city d-block mb-3">Buenos Aires – CABA</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="property-single.html" class="img">
                                <img src="images/prop5.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$430.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Avenida Centenario 1892</span>
                                    <span class="city d-block mb-3">Saladillo – Buenos Aires</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">4 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop6.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$500.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Calle 7 entre 49 y 50</span>
                                    <span class="city d-block mb-3">La Plata – Buenos Aires</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">2 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop7.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$650.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50"> Hipólito Yrigoyen 175</span>
                                    <span class="city d-block mb-3">Saladillo – Buenos Aires</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">2 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">1 baño</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop8.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$800.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Avenida General López 2725</span>
                                    <span class="city d-block mb-3">Rosario – Santa Fe</span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">3 baños</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a asp-page="/Detail" class="img">
                                <img src="images/prop9.jpg" alt="Image" class="img-fluid" />
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$400.000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">Calle Congreso 151</span>
                                    <span class="city d-block mb-3">Cañuelas – Buenos Aires </span>

                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                            <span class="icon-bed me-2"></span>
                                            <span class="caption">3 habitaciones</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">1 baño</span>
                                        </span>
                                    </div>

                                    <a asp-page="/Detail"
                                       class="btn btn-primary py-2 px-3">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->
                    </div>

                    <div id="property-nav"
                         class="controls"
                         tabindex="0"
                         aria-label="Carousel Navigation">
                        <span class="prev"
                              data-controls="prev"
                              aria-controls="property"
                              tabindex="-1">Anterior</span>
                        <span class="next"
                              data-controls="next"
                              aria-controls="property"
                              tabindex="-1">Siguiente</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features-1">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature">
                    <span class="flaticon-house"></span>
                    <h3 class="mb-3">Publica tu inmueble</h3>
                    <p>
                        En Abig te ayudamos a que concretes tus sueños
                    </p>
                    <p><a asp-page="/Post" class="learn-more">Ver más</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature">
                    <span class="flaticon-house-4"></span>
                    <h3 class="mb-3">Contacto</h3>
                    <p>
                        ¿Tienes preguntas? Escríbenos, estamos para ayudarte
                    </p>
                    <p><a asp-page="/Contact" class="learn-more">Ver más</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature">
                    <span class="flaticon-house-3"></span>
                    <h3 class="mb-3">¡Somos Abig!</h3>
                    <p>
                        ¿Quienos somos? Te invitamos a conocernos
                    </p>
                    <p><a asp-page="/About" class="learn-more">Ver más</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature">
                    <span class="flaticon-house-1"></span>
                    <h3 class="mb-3">Propiedades en alquiler</h3>
                    <p>
                        Con anunciantes de todo el pais y contacto directo con los dueños
                    </p>
                    <p><a asp-page="/Results2" class="learn-more">Ver más</a></p>
                </div>
            </div>
        </div>
    </div>
</section>



