<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Abig</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Abig2025.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />


    <title>
        ABIG 
    </title>

</head>

<body>
    <header>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <nav class="site-nav">
            <div class="container">
                <div class="menu-bg-wrap">
                    <div class="site-navigation">
                        <a asp-page="/Index" class="logo m-0 float-start" style="transform: scale(2.2); transform-origin: left center;">
                            <img src="~/images/Logos/logo.png" alt="Logo" style="height: 35px;">
                        </a>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                            <li class="active"><a asp-page="/Index">Inicio </a></li>
                            <li class="has-children">
                                <a <a asp-page="/Results2">Categorias</a>
                                <ul class="dropdown">
                                    <li><a asp-page="/Results2">Casas</a></li>
                                    <li><a asp-page="/Results2">Departamentos</a></li>
                                    <li><a asp-page="/Results2">Terrenos</a></li>
                                    <li><a asp-page="/Results2">Locales</a></li>
                                    <li class="has-children">
                                        <a asp-page="/Results2">Otros</a>
                                        <ul class="dropdown">
                                            <li><a asp-page="/Results2">PH</a></li>
                                            <li><a asp-page="/Results2">Chacras</a></li>
                                            <li><a asp-page="/Results2">Estancias</a></li>
                                            <li><a asp-page="/Results2">Cocheras</a></li>
                                            <li><a asp-page="/Results2">Oficinas</a></li>
                                            <li><a asp-page="/Results2">Quintas</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a asp-page ="/Post">Publicar</a></li>
                            <li><a asp-page="/About">Sobre nosotros</a></li>
                            <li><a asp-page="Login/Login" class="btn-login">Iniciar sesión</a></li>
                           
                        </ul>

                        <a href="#"
                           class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                           data-toggle="collapse"
                           data-target="#main-navbar">
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>


    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Abig2025 - <a asp-area="" asp-page="/Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Contacto</h3>
                        <address>Emparanza 2873, Saladillo, Bs. As.</address>
                        <ul class="list-unstyled links">
                            <li><a href="tel://2345 522541">+54(2345)522541</a></li>
                            <li><a href="tel://2345 522541">+54(2345)522541</a></li>
                            <li>
                                <a href="mailto:info@abig.com">info@abig.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Recursos</h3>
                        <ul class="list-unstyled float-start links">
                            <li><a asp-page="/About" >Sobre nosotros</a></li>             
                            <li><a asp-page="/TermsAndConditions">Terminos y condiciones</a></li>                           
                        </ul>
                        <ul class="list-unstyled float-start links">                                                                             
                            <li><a asp-page="/Faq">Preguntas frecuentes</a></li>
                            <li><a asp-page="/Privacy">Privacidad</a></li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Links</h3>
                        <ul class="list-unstyled links">
                         
                            <li><a asp-page="/About">Sobre Nosotros</a></li>
                            <li><a asp-page="/Contact">Contactanos</a></li>
                        </ul>

                        <ul class="list-unstyled social">
                            <li>
                                <a href="https://www.instagram.com/reel/DEC9xRWR1-v/"><span class="icon-instagram"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/martin.gattini.3?locale=es_LA"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/martin-gattini-25907b149/"><span class="icon-linkedin"></span></a>
                            </li>
 
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <!--
                      **==========
                      NOTE:
                      Please don't remove this copyright link unless you buy the license here https://untree.co/license/
                      **==========
                    -->

                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        . Todos los derechos reservados. 
                        <a href="https://ar.linkedin.com/in/nicolas-casarino-b64280334">Nicolás Casarino</a>
                        <!-- License information: https://untree.co/license/ -->
                    </p>
                    <div>
                        Distribuido por
                        <a href="https://ar.linkedin.com/in/martin-gattini-25907b149" target="_blank">Abig</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.site-footer -->



    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>